.main {
	width: 414px;
	height: 896px;
	position: relative;
	display: flex;
	flex-direction: column;
	align-items: center;
	flex-wrap: nowrap;
}

.statistics_container {
	text-align: center;
}

.statistics_wrapper {
	height: 480px;
}

.statistics_heading {
	text-align: left;
	margin-block-start: 0em;
	margin-block-end: 0em;
}
