.main {
	width: 414px;
	height: 896px;
	background-image: url('../../Assets/Images/background_rectangle_darkblue.png');
	background-repeat: no-repeat;
	position: relative;
	display: flex;
	flex-direction: column;
	align-items: center;
	flex-wrap: nowrap;
}

.home_wrapper {
	display: flex;
	width: 374px;
	align-items: center;
	justify-content: space-between;
	margin-top: 31px;
}

.home_heading {
	text-align: left;
	margin-block-start: 0em;
	margin-block-end: 0em;
}