.main {
	width: 414px;
	height: 896px;
	position: relative;
	display: flex;
	flex-direction: column;
	align-items: center;
	flex-wrap: nowrap;
	background-image: url('../../Assets/Images/background_rectangle_blue.png');
	background-repeat: no-repeat;
}