.button {
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	padding: 10px 20px;
	margin: 0 auto;
	gap: 10px;
	width: 300px;
	height: 58px;
	top: 591px;
	background: linear-gradient(180deg, #8898ff -17.19%, #2b47fc 123.44%);
	border-radius: 40px;
	border-style: none;
	font-family: 'Inter';
	font-weight: 600;
	font-size: 18px;
	line-height: 38px;
	color: #ffffff;
	text-align: center;
	text-transform: capitalize;
}

button:hover {
	filter: invert(100%);
}
