.submenu {
	display: flex;
	flex-direction: column-reverse;
}

.submenu_wrapper {
	display: flex;
	flex-direction: column;
	position: absolute;
	bottom: 92px;
	width: 66px;
	align-items: center;
}

.submenu_img {
	width: 55px;
}
