.display {
	background-color: #ffffff;
}

.collapsible {
	font-weight: 600;
	color: #ffffff;
	cursor: pointer;
	border: none;
	text-align: left;
	outline: none;
	/* position: absolute; */
	width: 374px;
	/* 
	left: 20px;
	top: 155px; */
	background: #2b47fc;
	border-radius: 20px;
}

/* Style the collapsible content. Note: hidden by default */
/* .content {
	padding: 0 18px;
	max-height: 0;
	overflow: hidden;
	transition: max-height 0.2s ease-out;
} */

.collapsible:after {
	content: url('../Assets/Symbols/updownbutton.png');
	color: #ffffff;
	margin-left: 5px;
}

.active:after {
	content: '\2796'; /* Unicode character for "minus" sign (-) */
}

.income,
.expense {
	font-size: 16px;
	font-weight: 500;
	line-height: 19.36px;
	letter-spacing: -5%;
	color: #ffffff;
}

.number {
	font-style: normal;
	font-weight: 600;
	font-size: 20px;
	line-height: 24px;
	text-align: right;
	letter-spacing: -0.05em;
	color: #ffffff;
}
