.text {
    font-family: 'Inter';
    font-weight: 400;
    font-size: 14px;
    text-align: center;
    color: #444444;
    line-height: 16.94px;
    margin-block-start: 3.8em;
}

.linkStyle {
    font-weight: 500;
    color: #2B47FC;
    text-decoration: none;
}