.inputContainer {
    display: flex;
    flex-direction: column;
    width: 88%;
    margin: 20px auto;
    align-content: center;
}

.label {
    font-family: 'Inter';
    font-weight: 400;
    font-size: 12px;
    letter-spacing: 0.06em;
    color: #666666;
    margin-bottom: 10px;
}

.inputfield {
    padding: 16px 15px;
    border: 1px solid #DDDDDD;
    border-radius: 8px;
    border-style: dashed;
    font-family: 'Inter';
    font-weight: 400;
    font-size: 14px;
    color: #666666;
}

.inputfield::file-selector-button {
    /* background: #666666;
    padding: 5px 15px;
    border-style: none;
    border-radius: 20px; */
    display: none;
}

.inputfield:focus {
    border: 2px solid #2B47FC;
}

.inputfield::before {
    font-family: 'Inter';
    font-weight: 400;
    font-size: 18px;
    color: white;
    content: '+';
    background: #666666;
    padding: 0px 6px 3px 5px;
    border-radius: 30px;
    margin-right: 15px;
}

/* .inputfield::placeholder {
    font-family: 'Inter';
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    color: #666666;
} */