@font-face {
	font-family: 'Inter';
	src: url('./Assets/Fonts/Inter/static/Inter-Black.ttf');
	font-weight: 900;
}

@font-face {
	font-family: 'Inter';
	src: url('./Assets/Fonts/Inter/static/Inter-ExtraBold.ttf');
	font-weight: 800;
}

@font-face {
	font-family: 'Inter';
	src: url('./Assets/Fonts/Inter/static/Inter-Bold.ttf');
	font-weight: 700;
}

@font-face {
	font-family: 'Inter';
	src: url('./Assets/Fonts/Inter/static/Inter-SemiBold.ttf');
	font-weight: 600;
}

@font-face {
	font-family: 'Inter';
	src: url('./Assets/Fonts/Inter/static/Inter-Medium.ttf');
	font-weight: 500;
}

@font-face {
	font-family: 'Inter';
	src: url('./Assets/Fonts/Inter/static/Inter-Regular.ttf');
	font-weight: 400;
}

@font-face {
	font-family: 'Inter';
	src: url('./Assets/Fonts/Inter/static/Inter-Light.ttf');
	font-weight: 300;
}

@font-face {
	font-family: 'Inter';
	src: url('./Assets/Fonts/Inter/static/Inter-ExtraLight.ttf');
	font-weight: 200;
}

@font-face {
	font-family: 'Inter';
	src: url('./Assets/Fonts/Inter/static/Inter-Thin.ttf');
	font-weight: 100;
}

body {
	box-sizing: border-box;
	max-width: 414px;
	margin: 0 auto;
	padding: 0;
	border: 1px solid black;
	font-family: 'Inter';
}

h1 {
}

h2 {
}
